MSSQL_SERVER=sqlserver,1433
MSSQL_DATABASE=LoanDataDB
MSSQL_USER=sa
MSSQL_PASSWORD=P@ssw0rd!23
MSSQL_DRIVER=ODBC Driver 18 for SQL Server
MSSQL_ENCRYPT=yes
MSSQL_TRUST_SERVER_CERTIFICATE=yes

MCP_HOST=0.0.0.0
MCP_PORT=8080
